@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);


*{
  margin  : 0;
  padding : 0;
}

body{
  background-color: #424242;
  font-family: 'Noto Sans Japanese', serif;
  font-size: 16px;
}


/*ポップアップ*/

#ipop {
  background-color: #A9E2F3;
  border: 1px solid #aaa;

  /* この５行は必須 */

  width: 40%;
  height: 600px;
  position: absolute;
  display: none;
  z-index: 9999;

  margin-left : auto;
  margin-right: auto;

  border-radius: 20px;

  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
}

#ipop_title {
  background-color: #A9E2F3;
  cursor: move;
  height : 50px;
  padding-top: 20px;
  padding-bottom: 20px;

  font-family: 'Lora', serif;

  border-radius: 20px 20px 0px 0px;
}


.effect{
  color: #333;
  text-shadow: -5px 5px 5px rgba(0,0,0, 0.3);
  letter-spacing: 0
}


#ipop_title h3{
  font-size: 2em;
  margin-bottom: 0;
  margin-left: 20px;
  margin-right: 20px;
}
#ipop_title p{
  margin-bottom: 0;
  margin-left: 20px;
  margin-right: 20px;
}

#next{
  font-size: 1em;
  width :120px;
  border-radius : 10px 10px 10px 10px; 
  text-align: center;
  margin: 0 auto 0 auto;
}


/*閉じる*/
.ipop_close {
  cursor: pointer;
}

#ipop_close_button {
  font-size: 1em;
  width :120px;
  border-radius : 10px 10px 10px 10px; 
  text-align: center;
  margin: 0 auto;

}

#peke {
  float:right;
  margin-right : 30px;
  margin-top   : 30px; 
}

#under {
  position: absolute;
  bottom:0;

  margin-bottom: 30px;
  width: 100%;

}
.abstract {
  height: 70%;
  font-size:0.5em;
}
p.abst{
  display: inline-block;
  margin-right: auto;
  margin-left: auto;  
}
img.abst{
  width: 85%;
  position: absolute;
  display: block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  left : 0;
  right : 0;
}


/*入力画面*/

.clear{
  clear : both;
}

#button{
}

.button{
  cursor:pointer;
  background-color: #fff;
  border:solid;
  border-width:1px;
  border-color:#000;
}

.button:hover{
  background-color: #0489B1;
  border:solid;
  border-width:1px;

}

div#contents{
  width        :1100px;
  height       :90%;
  padding-left :100px;
  padding-right:100px;
  padding-bottom:20px;
}


div#footer{

}

div#top {
  width: 1000px;
  margin: 30px auto 0 auto;
}

div#intro{
  font-size: 20px;
  height: 416px;
  width: 1000px;
  margin: 30px auto 0 auto;  
  display: none;
}


#box1{
  background-color : #A9E2F3;
  position         : absolute;
  top              :  50%;
  left             :  50%;
  width            :  1300px;
  height           :  700px;
  margin-left      : -650px;
  margin-top       : -380px;
  padding-top      : 30px;
  border-radius    : 20px;
}

p.p1{
  margin-top:10px;
}

h3{
  font-size   : 30px;
  font-weight : bold;
  margin-bottom : 10pt;
}

#call{
  margin-bottom:50px;
  cursor: pointer;
}

form{
  margin-top : 10pt;
  font-size: 0.9em;
  font-family:'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

td{
  vertical-align: top;
  padding: 0;
}

span.pointup{
 color       : #FF0000;
}

#start{
  width         : 1000px;
  height        : 90px;
  text-align    : center;
  font-size     : 50px;
  padding-top   : 10px;
  margin        : 50px auto 0px auto;
  bottom:       : 0;
  border-radius : 10px;
  display: none;
}

#go{
  width         : 1000px;
  height        : 90px;
  text-align    : center;
  font-size     : 50px;
  padding-top   : 10px;
  margin        : 50px auto 0px auto;
  bottom:       : 0;
  border-radius : 10px;
}

#txt{
  height     : 50%;
  font-size  : 100px;
  text-align : center;
  display    : none;
}

#top{
  width: 1100px;
  margin-left: 50px;
}

#answer{
  width         : 1100px;
  height        : 40%;
  font-size     : 30px;
  text-align    : center;
  margin        : 0 auto 0 auto;
  display       :none;
}

#yes{
  width         : 300px;
  border-radius : 30px; 
  float         : left;
  margin        : 0px 68px 0px 100px;
  padding       : 10px 40px 30px 40px;
}

#no{
  width         : 300px;
  border-radius : 30px;
  float         : left;
  margin        : 0px 100px 0px 68px;
  padding       : 10px 40px 30px 40px;
}

#pass{
    position      : absolute;
    bottom        : 0; 
    width         : 198px;
    height        : 50px;
    padding       : 5px;
    border-radius : 30px; 
    margin        : 70px 450px 50px 450px;
    display       : none;
}

#pagenum{
  text-align : center;
  margin-top : 10px; 
}

#countdown
{
  font-size : 70px;
  color     : #000;
  position  : absolute;
  display   : none;
}

#result{
  
}

#timebar{
  width:1000;
  margin-left: 150px;
  height: 30px;
}