@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

/*  visualuze.html  */

*{
  margin  : 0;
  padding : 0;
}

body{
/*  background-color: #F0F8FF;*/
/*  font-family:'Hiragino Kaku Gothic ProN', serif;*/
  background-color: #424242;
  font-family: 'Noto Sans Japanese', serif;
  font-weight: 100;
  font-size: 12px;
}

#soft{
	background-color: #F0F8FF;
	position: absolute;
	width:100%;
	height: 100%;
	z-index: -4444;
	display: none;
}

/*  first 全体の結果表示  */

#top{	
	font-weight: 500;
 	background-color : #A9E2F3;
 	position: absolute;
 	height: 50px;
 	width: 100%;
 	margin-right: 20px;
 	padding: 10px 60px 10px 60px;
 	z-index: 1;
 	display: none;
}

#menu{
	cursor: pointer;
	height: 40px;
 	position: absolute;
 	top: 0;
 	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 5px;
 	z-index: 2;
}

	#reload{
		cursor: pointer;
		height: 40px;
	 	position: absolute;
	 	top: 0;
	 	margin-top: 20px;
		margin-left: 70px;
		margin-bottom: 5px;
	 	z-index: 2;	
	}

	#title{
		position: relative;
		font-size: 16px;
		height : 40%;
		width : 300px;
		margin-left:70px;
	}

	#sub{
		position: relative;
		font-size: 12px;
		margin-left: 70px; 
	  	top:0;
	  	margin-right: 50px;
		margin-top: 5px;
		margin-bottom: 20px;

		width : 200px;
		height : 40%;
	}

#main_title{
	float :left;
	height : 100%;

}

div.clear{
	clear : both;
}
p.center{

	position :absolute;

	width : 100%;
	height : 50%;

	top : 0;
	left : 0;
	right : 0;
	bottom : 0;

	margin : auto;

	vertical-align: middle;
}

#title_buttons{

	float :left;
	height : 100%;

}

div.show{
	float : left;
	height : 100%;
}

	#top img{
		width: 30px;
		margin-top: 10px;
		margin-left: 30px;
		margin-right: 10px;
		display:block;
		float :left;
	}
div.right{
	font-size: 0.8em;
	position :relative;
	float : left;
	height : 100%;
	width : auto;
	display: inline-block;
	margin-top: 5px;
}
/*
	span.show{

		top:0;
		margin-bottom:100px; 
		margin-top: 10px;
		padding-bottom: 50px;
	}
*/


/*  チップ  */

#tip{
	position: absolute;
	width: 120px;
	height: auto;
	top: 0px;
	left: 0px;
	padding: 10px;
	margin-left: 40px;
	z-index: 9999;
	border: 1px solid black;
	background-color: #98FB98;
	font-size: 10px;
	color: black;
	pointer-events: none;
	border-radius: 10px;
	box-shadow: 4px 4px 10px rgba(0,0,0,0.4);

}

	#tip.hidden{
		display: none;
	}

	#tip_name{
		font-size: 15px;
		font-weight: bold;
	}


/*  ボタン  */

.select{
	margin-right: 13%;
	margin-bottom: 9px;
	width: 100px;
}

.button{
  cursor:pointer;
  background-color: #fff;
  border:solid;
  border-width:1px;
  border-color:#000;
  margin-right: 13%;
}

	.button:hover{
	  background-color: #0489B1;
	  border:solid;
	  border-width:1px;

	}

	#enter{
		height: 60px;
		width: 100px;
		margin-top: 10px;
		font-size: 20px;
		position :absolute;
		right: 0;
	  	top:0;
		margin-top: 20px;
		margin-bottom: 10px;
		margin-right: 9%;
		border-radius : 5px; 
	}

	.selector{
		width :100px;
	}

	#chgbtn{
		width: 100px;
		height: 30px;
		border-radius : 5px; 
	}

	#answer_result{
		height: 60px;
		width: 150px;
		margin-left: 40px;
		font-size: 15px;
		position :absolute;
	  	bottom:0;
		margin-top: 30px;
		margin-bottom: 30px;
		margin-right: 9%;
		border-radius : 5px; 
		z-index: 8888;
		opacity: 0.4;
	}

	#answer_result:hover{
		opacity: 1;
	}

	#rebirth{
		height: 60px;
		width: 150px;
		margin-left: 40px;
		font-size: 15px;
		position :absolute;
	  	bottom:0;
		margin-top: 30px;
		margin-bottom: 30px;
		margin-right: 9%;
		border-radius : 5px; 
		z-index: 8888;
		opacity: 0.4;
	}

	#rebirth:hover{
		opacity: 1;
	}


/*  回答表示部  */

#answer_words{
	-moz-box-sizing: border-box;
    box-sizing: border-box;
	z-index: 3;
	background: #98FB98;
	height: auto; 
	width: 100%;
	padding: 40px; 
	font-size: 0.8em;
}

h3{
	margin-top: 20px;
	margin-bottom: 10px;
	border-bottom: 1px solid #000;

}

li{
	font-size: 1.1em;
}

#answer_words span{
	display: block;
}

.parsonal_data{
	margin-bottom: 10px;
}

.answer_data {
	border-left: 1px solid #000;
}

.answer_data span{
	font-size: 0.9em;
	margin-bottom: 5px;
	padding-left: 10px;
}

/*  D3.js  */

.circle{
	fill: #000;
	opacity: 0.8;
	cursor: pointer;
}

	#latest{
		fill:#eddf49;
		stroke-width: 0px;
		font-weight: bold;
	}

	.choice{
		stroke-width: 5px;
		stroke: #DC143C;
		fill: none;
		pointer-events: none;
	}

.line{
	opacity: 0.3;
	stroke: #000;
	stroke-width: 1px;
}

.sameword{
	opacity: 1;
	stroke: #DC143C;
	stroke-width: 1px;
}

.image{
	opacity: 0.5;
	cursor: pointer;
}

.name{
	fill: #e0ffff;
}

.w_text{
	font-weight: 300;
	font-size: 10px;
	cursor: pointer;
	font-color:black;
}

.w_text.no {
	fill:#000;
	opacity: 0.5;
}

.w_circle{
	stroke :#e0ffff;
	stroke-width : 1px;	
	fill: #00BFFF;	
	cursor: pointer;
}

	.yes{
		opacity:1;
	}
	.no{
		fill: #E0FFFF;
	}
	.none{
		display: none;
	}

	/*最初の人*/
	.first_data{
		font-size: 20px;
/*		text-shadow:2px 2px 3px white;*/
		fill:#DC143C;
		cursor: pointer;
		font-weight: 500;
	}


