@charset "UTF-8";

/*  visualuze.html  */

*{
  margin  : 0;
  padding : 0;
}

body{
  background-color: #F0F8FF;
  font-family:'Hiragino Kaku Gothic ProN', serif;
  font-size: 12px;
}


/*  first 全体の結果表示  */

#top{	
 	background-color : #A9E2F3;
 	position: absolute;
 	height: 70px;
 	width: 100%;
 	margin-right: 20px;
 	padding: 20px 60px 20px 60px;
 	z-index: 1;
 	display: none;
}

#menu{
	color: #00BFFF;
	cursor: pointer;
	height: 40px;
	font-size: 40px;
 	position: absolute;
 	top: 0;
 	margin-top: 5px;
	margin-left: 20px;
 	z-index: 2;
}

	#title{
		height: 50px;
		font-size: 30px;
	  	font-family:'Hiragino Mincho ProN', serif;
		float: left;
	}

	#sub{
		font-size: 20px;
		padding-left: 120px; 
		position :absolute;
	  	top:0;
	  	margin-right: 50px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

/*  設定メニュー  */

.config{
	opacity: 0.9;
	display: none;
}

	.config_close{
		float:right;
		cursor: pointer;
	}

	.config span{
		width: auto;
		font-size: 1em;
		display: block;
		margin-left: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
		color: #242424;
	}

	.box{
		background-color: #a9a9a9;
		margin: 15px;
		padding: 5px;
	}

	table{
		border-spacing: 0px 10px;
		margin-left: 10px;
		margin-right: 10px;
	}

	table td{
		vertical-align:top;
	}

	input {
		margin-right: 5px;
		color: #242424;
	}

	span.config_title{
		display: inline-block;
		font-size: 1em;
		margin-bottom: 10px;
		color: #fff;
	}

	.jqDrag{
	    width: 100%;
	    cursor: move;

	}

	.jqDnR{
	    z-index: 7777;
	    position: absolute;
	    font-size: 12px;
	    background-color: #242424;
	    border: 1px solid #CCC;
	    border-radius: 5px;
	    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
	}

	#show_change{
		right: 30px;
		bottom: 30px;
	    width: 170px;
	    height: auto;		
	}

	#size_change{
		right:30px;
		bottom: 220px;
	    width: 200px;
	    height: auto;		
	}	


/*  チップ  */

#tip{
	position: absolute;
	width: 120px;
	height: auto;
	top: 0px;
	left: 0px;
	padding: 10px;
	margin-left: 40px;
	z-index: 9999;
	border: 1px solid black;
	background-color: #98FB98;
	font-size: 10px;
	color: black;
	pointer-events: none;
	border-radius: 10px;
	box-shadow: 4px 4px 10px rgba(0,0,0,0.4);

}

	#tip.hidden{
		display: none;
	}

	#tip_name{
		font-size: 15px;
		font-weight: bold;
	}


/*  ボタン  */

.select{
	margin-right: 13%;
	margin-bottom: 9px;
	width: 100px;
}

.button{
  cursor:pointer;
  background-color: #fff;
  border:solid;
  border-width:1px;
  border-color:#000;
  margin-right: 13%;
}

	.button:hover{
	  background-color: #0489B1;
	  border:solid;
	  border-width:1px;

	}

	#enter{
		height: 60px;
		width: 100px;
		margin-top: 10px;
		font-size: 20px;
		position :absolute;
		right: 0;
	  	top:0;
		margin-top: 20px;
		margin-bottom: 10px;
		margin-right: 9%;
		border-radius : 5px; 
	}

	.selector{
		width :100px;
	}

	#chgbtn{
		width: 100px;
		height: 30px;
		border-radius : 5px; 
	}

	#answer_result{
		height: 60px;
		width: 150px;
		margin-left: 40px;
		font-size: 15px;
		position :absolute;
	  	bottom:0;
		margin-top: 30px;
		margin-bottom: 30px;
		margin-right: 9%;
		border-radius : 5px; 
		z-index: 8888;
		opacity: 0.4;
	}

	#answer_result:hover{
		opacity: 1;
	}

	#rebirth{
		height: 60px;
		width: 150px;
		margin-left: 40px;
		font-size: 15px;
		position :absolute;
	  	bottom:0;
		margin-top: 30px;
		margin-bottom: 30px;
		margin-right: 9%;
		border-radius : 5px; 
		z-index: 8888;
		opacity: 0.4;
	}

	#rebirth:hover{
		opacity: 1;
	}


/*  回答表示部  */

#answer_words{
	-moz-box-sizing: border-box;
    box-sizing: border-box;
	z-index: 3;
	background: #98FB98;
	height: auto; 
	width: 100%;
	padding: 40px; 
	font-size: 0.8em;
}

h3{
	margin-top: 20px;
	margin-bottom: 10px;
	border-bottom: 1px solid #000;

}

li{
	font-size: 1.1em;
}

#answer_words span{
	display: block;
}

.parsonal_data{
	margin-bottom: 10px;
}

.answer_data {
	border-left: 1px solid #000;
}

.answer_data span{
	font-size: 0.9em;
	margin-bottom: 5px;
	padding-left: 10px;
}

/*  D3.js  */

.circle{
	fill: #424242;
	stroke-width: 0px;
	cursor: pointer;
}

	#latest{
		fill: red;
		font-weight: bold;
	}

	.choice{
		stroke-width: 5px;
		stroke: blue;
		fill: none;
		pointer-events: none;
	}

.line{
	opacity: 0.3;
	stroke: #000;
	stroke-width: 1px;
}

.sameword{
	opacity: 1;
	stroke: red;
	stroke-width: 1px;
}

.image{
	opacity: 0.3;
	cursor: pointer;
}

.name{
	color: black;
}

.w_text{
	font-size: 10px;
	cursor: pointer;
	font-color:black;
}

.w_text.no {
	fill:#000;
	opacity: 0.5;
}

.w_circle{
	fill: #00BFFF;	
	cursor: pointer;
}

	.yes{
		opacity:1;
	}
	.no{
		fill: #E0FFFF;
	}
	.none{
		display: none;
	}

	/*最初の人*/
	.first_data{
		font-size: 20px;
		text-shadow:2px 2px 3px white;
		fill: red;
		font-weight: bold;
		cursor: pointer;
	}


